.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
.claude/**
.github/**
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
out/commandExecutor.js
out/test/**
